{% extends "database/base.html" %}

{% block title %}{{ person.persName }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Person Details Table -->
        <div class="col-md-6">
            <h3 class="my-4">{{ person.persName }}</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Person ID</th>
                        <td>{{ person.persID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td>{{ person.year }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Title</th>
                        <td>{{ person.persTitle }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Suffix</th>
                        <td>{{ person.persSuffix }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Note</th>
                        <td>{{ person.persNote }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Related Churches Table -->
        <div class="col-md-6">
            <h3 class="my-4">Related Institutions</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Year</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cp in related_churches %}
                    <tr>
                        <td>
                            <a href="{% url 'church_detail' instID=cp.instID year=cp.year_church %}">{{ cp.person_church.instName }}</a>
                        </td>
                        <td>{{ cp.person_church.church_type }}</td>
                        <td>{{ cp.person_church.year }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No related churches found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-outline-dark me-2" onclick="history.back()">Back</button>
</div>
{% endblock %}