{% extends "database/base.html" %}

{% block title %}{{ church.instName }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Small Church Details Table -->
        <div class="col-md-6">
            <h3 class="my-4">{{ church.instName }}</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Institution ID</th>
                        <td>{{ church.instID }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Year</th>
                        <td>{{ church.year }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Church Type</th>
                        <td>{{ church.church_type }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Language</th>
                        <td>{{ church.language }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Note</th>
                        <td>{{ church.instNote }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Place Name</th>
                        <td>{{ church.placeName }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Region</th>
                        <td>{{ church.region }}</td>
                    </tr>
                    <tr>
                        <th scope="row">State</th>
                        <td>{{ church.state_orig }}</td>
                    </tr>
                    <tr>
                        <th scope="row">City</th>
                        <td>{{ church.city_reg }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Diocese</th>
                        <td>{{ church.diocese }}</td>
                </tbody>
            </table>
        </div>

        <!-- Related Persons and Attending Churches Tables -->
        <div class="col-md-6">
            <h3 class="my-4">Related Persons</h3>
            <table class="table table-striped">
                <tbody>
                    {% for person in related_persons %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <th scope="row">Name</th>
                        <td>
                            <a href="{% url 'person_detail' person.persID|urlencode person.year_person %}">{{ person.persTitle }} {{ person.persName }}</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No related person found.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3 class="my-4">Attending Institution</h3>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th scope="row">Attending Institution ID</th>
                        <td>{{ church.attendingInstID }}</td>
                    </tr>
                    {% if attending_church_name != "Unknown" %}
                    <tr>
                        <th scope="row">Attending Institution Name</th>
                        <td>
                            <a href="{% url 'church_detail' instID=church.attendingInstID year=church.year %}">{{ attending_church_name }}</a>
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="2">No attending institutions found.</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Note</th>
                        <td>{{ church.attendingChurch }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Frequency</th>
                        <td>{{ church.attendingChurchFrequency }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-outline-dark me-2" onclick="history.back()">Back</button>
</div>
{% endblock %}